<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="Your Name" />
      <input type="text" placeholder="Username" />
      <input type="text" placeholder="Email Address" />
      <input type="number" placeholder="Phone Number" />
      <input type="password" placeholder="Enter Password" />
      <input type="password" placeholder="Confirm Password" />
      <button>create</button>
      <p class="message">Already registered?
        <a routerLink="/auth/login">Sign In</a>
      </p>
      <p class="message"><a routerLink="/">Go Home</a></p>
    </form>
  </div>
</div>